{% extends "base.html" %}  {# Changed to match login.html's base template #}

{% load i18n %}
{% load account socialaccount %}  {# Assuming allauth is equivalent to account and socialaccount #}

{% block page_title %}Sign Up{% endblock %}

{% block page_buttons %} 
<a href="{% url 'account_login' %}"><button>Sign In</button></a>  {# Changed to offer a link to the login page #}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <p>Join VocabVenture today, you can sign up for an account here,
                if you already have an account you can 
                <a href="{% url 'account_login' %}">login here</a>.</p>  {# Adjusted text to match the context of signing up #}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form class="signup" method="POST" action="{% url 'account_signup' %}">  {# Changed form class to "signup" for clarity #}
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup right" type="submit">{% trans "Sign Up" %}</button>  {# Changed button text to "Sign Up" #}
            </form>
        </div>
    </div>
</div>
{% endblock %}