{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% load pwa %}
{% url 'account_login' as login_url %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>VocabVenture</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        {% progressive_web_app_meta %}
    </head>
    <body>
        <div class="root-container">
            <div id="fullscreen-card-container">
                <div id="login-signup-card" class="card">
                    <div class="row">
                        <h1>Sign Up</h1>
                    </div>
                    <div class="row">
                        <div>
                            <p>New to VocabVenture? Sign up for an account now and get learning!</a></p>
                        </div>
                    </div>
                    <div class="row width-100">
                        <form class="login" method="POST" action="{% url 'account_signup' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                            {% endif %}
                            <button class="solid-button" type="submit">{% trans "Sign Up" %}</button>
                        </form>
                    </div>
                    <div class="row width-100">
                        <a id="signup-link" href="{{ login_url }}">Have an account? Login here</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

