.primary-button {
  @extend .noselect;
  font-family: var(--font-primary);
  font-weight: 900;
  padding: 9px 16px 4px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.solid-button {
  @extend .primary-button;
  background-color: var(--primary-color);
  color: white;
  border: solid 1px var(--primary-color);
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--primary-color-hover);
  }

  &.disabled {
    color: var(--gray-light);
    border: solid 1px var(--gray-light);
  }

  &.disabled:hover {
    color: var(--gray-light);
    background-color: rgba(0, 0, 0, 0);
  }
}

.border-button {
  @extend .primary-button;
  background-color: rgba(0, 0, 0, 0);
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--primary-color);
    color: white;
  }

  &.disabled {
    color: var(--gray-light);
    border: solid 1px var(--gray-light);
  }

  &.disabled:hover {
    color: var(--gray-light);
    background-color: rgba(0, 0, 0, 0);
  }
}

.transparent-button {
  @extend .noselect;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
}

.button-transparent {
  @extend .noselect;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Manjari", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.icon-button {
  @extend .noselect;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;

  svg {
    max-width: 28px;
    max-height: 28px;
    margin: 0;

    path {
      fill: var(--gray-dark);
    }
  }
}

.close-button {
  @extend .noselect;
  background-color: var(--gray-opaque);
  border: none;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  font-family: var(--font-primary);
  font-size: 22px;
  padding-top: 4px;
  position: absolute;
  top: 8px;
  right: 8px;

  &:hover {
    cursor: pointer;
  }
}

.close-button-white {
  @extend .close-button;
  color: white;
}
