#navbar-logo {
  font-size: 20px;
  padding: 4px;
}

#sidebar-nav {
  width: 200px;
  border-right: solid 1px var(--border-color);
  padding: 0 10px 10px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  @media only screen and (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
    flex-direction: column;
    align-items: start;
    width: 80%;
    max-width: 250px;
    height: 100%;
    background-color: var(--background-color);

    &.active {
      display: flex;
    }
  }
}

// The nav item outer div
.nav-item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 2.5px;

  &.active {
    background-color: var(--blue-opaque);
  }

  svg {
    margin-bottom: -3px;
    padding-right: 3px;
  }

  a {
    width: 100%;
    padding: 6px 10px 4px 10px;
  }

  p {
    display: inline;
  }

  &:hover {
    background-color: var(--blue-opaque);

    p {
      color: black;
    }

    path {
      fill: black;
    }
  }

  @media only screen and (max-width: 768px) {
    max-width: 95%;
    width: 200px;
    padding: 4px 0px 4px 15px;
    margin-bottom: 10px;
    justify-content: center;

    p {
      font-size: 1.2rem;
    }

    svg {
      margin-bottom: -5px;
    }
  }
}

// The nav item inner div
.nav-item {
  margin: 5px;
  padding: 8px 10px;
  border-radius: 8px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
  width: 100%;

  &:hover {
    background-color: rgb(20, 96, 239);
  }

  a {
    margin-bottom: -3px;
  }

  &.active {
    background-color: #471cff;

    a {
      color: #3498db;
    }

    .sidebar-nav-icon path {
      fill: white !important;
    }
  }
}

.nav-item-text {
  width: 100%;
}

.sidebar-nav-icon {
  max-width: 18px;
  max-height: 18px;
  margin: 0;

  path {
    fill: var(--gray-dark);
  }
}

.nav-item-expand {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 0px 3px 0px 3px;
  margin-top: -4px;
  cursor: pointer;
}

.nav-chevron {
  max-width: 12px;
  max-height: 12px;
  margin: 0;

  path {
    fill: var(--gray-dark);
  }
}

#mobile-nav-open {
  display: none;
  padding-right: 15px;

  @media only screen and (max-width: 768px) {
    display: inline-block;
  }
}

#mobile-nav-close {
  display: none;

  svg {
    max-width: 18px;
    max-height: 18px;
    margin: 0;
  }

  @media only screen and (max-width: 768px) {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
