@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");
@keyframes flashGreen {
  0%,
100% {
    box-shadow: 0 0 5px 1px transparent;
  }
  /* Start and end with no border color */
  25%,
75% {
    box-shadow: 0 0 5px 1px green;
  }
  /* Flash green at these intervals */
}

.flashing-border-green {
  box-shadow: 0 0 5px 1px transparent;
  /* Initial border setup */
  animation: flashGreen 0.2s ease-out 3;
  /* Apply the animation */
}

@keyframes flashRed {
  0%,
100% {
    box-shadow: 0 0 5px 1px transparent;
  }
  /* Start and end with no border color */
  25%,
75% {
    box-shadow: 0 0 5px 1px red;
  }
  /* Flash green at these intervals */
}

.flashing-border-red {
  box-shadow: 0 0 5px 1px transparent;
  /* Initial border setup */
  animation: flashRed 0.2s ease-out 3;
  /* Apply the animation */
}

.border-button {
  background-color: rgba(0, 0, 0, 0);
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
  border-radius: var(--border-radius);
  font-family: "Manjari", Helvetica, sans-serif;
  font-weight: 900;
  padding: 9px 16px 4px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.border-button:hover {
  background-color: var(--primary-color);
  color: white;
}

.border-button.disabled {
  color: var(--gray-light);
  border: solid 1px var(--gray-light);
}

.border-button.disabled:hover {
  color: var(--gray-light);
  background-color: rgba(0, 0, 0, 0);
}

.transparent-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
}

.button-transparent {
  background-color: rgba(0, 0, 0, 0);
  font-family: "Manjari", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.icon-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.icon-button svg {
  max-width: 28px;
  max-height: 28px;
  margin: 0;
}

.icon-button svg path {
  fill: var(--gray-dark);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  padding: 0 5px;
}

.card {
  position: relative;
  display: flex;
  width: 100%;
  padding: 24px 24px;
  background-color: white;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 0px 5px 0.8px var(--gray-opaque);
  box-shadow: 0px 0px 5px 0.8px var(--gray-opaque);
  transition: all 0.3s ease-in-out;
}

.card .set-title {
  margin: 0;
}

.card.align-center {
  align-items: center;
}

.card.justify-center {
  justify-content: center;
}

.card.clickable {
  cursor: pointer;
}

.card.clickable:hover {
  border: solid 1px var(--primary-color);
}

.card.col-lg-4 {
  width: calc((100% / 3) - 70px);
}

.card.col-lg-6 {
  width: calc((100% / 2) - 55px);
}

@media only screen and (max-width: 992px) {
  .card.col-md-6 {
    width: calc((100% / 2) - 60px);
  }
}

@media only screen and (max-width: 768px) {
  .card.col-sm-12 {
    width: 100%;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 100%;
}

.word-detail-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.progress-bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.progress-bar-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.progress-bar {
  position: relative;
  flex-grow: 1;
  height: 8px;
  margin-right: 14px;
  background-color: var(--gray-opaque);
  border-radius: var(--border-radius);
}

.progress-bar-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: var(--border-radius);
}

.progress-bar-fill.red {
  background-color: red;
}

.progress-bar-fill.orange {
  background-color: orange;
}

.progress-bar-fill.yellow {
  background-color: gold;
}

.progress-bar-fill.green {
  background-color: green;
}

.progress-bar-fill.purple {
  background-color: var(--primary-color);
}

.progress-bar-title {
  margin: -6px 12px 0 0;
}

.progress-bar-percentage {
  margin: -3px 0 0 0;
}

.card-container-grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

@media only screen and (max-width: 768px) {
  .card-container-grid {
    grid-template-columns: 1fr;
  }
}

.grid-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding: 24px 24px;
  gap: 12px;
  background-color: white;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 0px 5px 0.8px var(--gray-opaque);
  box-shadow: 0px 0px 5px 0.8px var(--gray-opaque);
  transition: all 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .grid-card.full-width {
    grid-column: 1 / 3;
  }
}

.grid-card p {
  margin: 0;
}

.grid-card .row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.font-size-regular {
  font-size: 1rem;
}

.font-size-large {
  font-size: 1.2rem;
}

.font-size-xlarge {
  font-size: 1.4rem;
}

.font-size-xxlarge {
  font-size: 1.8rem;
}

form {
  overflow-x: hidden;
  overflow-y: scroll;
}

input,
textarea {
  display: block;
  margin: 5px 0px 24px 0px;
}

input.full-width,
textarea.full-width {
  width: 100%;
}

textarea {
  height: 300px;
}

label {
  display: block;
}

.checkbox-wrapper input {
  display: inline;
  min-width: none;
}

.checkbox-wrapper label {
  display: inline;
}

#admin-word-edit-form {
  width: 800px;
  max-height: calc(80vh - 100px);
  padding: 5px;
}

.toggle {
  display: none;
}

.toggle-label {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  margin-left: 32px;
}

.toggle-label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle:checked + .toggle-label {
  background-color: var(--primary-color);
}

.toggle:checked + .toggle-label::before {
  transform: translateX(20px);
}

.header-button-wrapper {
  position: relative;
}

.header-button {
  cursor: pointer;
}

.header-button:hover path {
  fill: var(--primary-color);
}

.header-button-icon {
  max-width: 32px;
  max-height: 32px;
  margin: 0;
}

.header-button-icon path {
  fill: var(--gray-dark);
}

.header-submenu-container {
  position: absolute;
  top: 55px;
  right: 0;
  z-index: 2;
  min-width: 200px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--background-color);
}

.header-submenu-item {
  display: flex;
  padding: 8px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-submenu-item:hover {
  background-color: var(--gray-opaque);
}

.header-submenu-item-link-wrapper {
  display: block;
  width: 100%;
}

.header-submenu-item-text {
  margin: 0;
  font-size: var(--font-size-regular);
}

.usage-example-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 35px 0;
}

.interactive-sentence-container {
  display: flex;
  flex-direction: row;
  gap: 3.3px;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.interactive-word-container {
  position: relative;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.interactive-word-container p {
  margin: 0;
  padding: 0;
}

.interactive-word-container:hover p {
  color: var(--blue);
}

.interactive-word-container:hover .interactive-word-tooltip-container {
  opacity: 1;
  visibility: visible;
}

.interactive-word-tooltip-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.interactive-word-tooltip {
  background-color: var(--background-color);
  padding: 8px 10px 4px 10px;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  transition: all 0.15s ease-in-out;
  white-space: nowrap;
}

.sentence-border-box {
  background-color: var(--background-color);
  padding: 8px 10px 4px 10px;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  cursor: pointer;
}

.sentence-border-box p {
  margin: 0;
  padding: 0;
}

.background-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 98;
  width: 100vw;
  height: 100vh;
  background-color: var(--gray-medium-opaque);
  backdrop-filter: blur(3px);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  max-height: 80vh;
  max-width: 95vw;
  background-color: var(--background-color);
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  padding: 10px 25px 25px 25px;
}

.modal-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 16px 0;
}

.modal-content-wrapper {
  max-height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: scroll;
}

#word-details-modal {
  width: 80%;
  height: 80%;
}

#alert-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#alert-modal {
  position: relative;
  padding: 8px 24px;
  color: white;
}

#alert-modal.success {
  background-color: green;
}

#alert-modal.error {
  background-color: red;
}

#alert-modal.info {
  background-color: blue;
}

#alert-modal.alert {
  background-color: orange;
}

#alert-modal #alert-modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  cursor: pointer;
}

#alert-modal #alert-modal-close-button svg {
  max-width: 14px;
  max-height: 14px;
  margin: 0;
}

#alert-modal #alert-modal-close-button svg path {
  fill: white;
}

#navbar-logo {
  font-size: 20px;
  padding: 4px;
  color: var(--primary-color);
}

#sidebar-nav {
  width: 200px;
  border-right: solid 1px var(--border-color);
  padding: 0 10px 10px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  #sidebar-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
    flex-direction: column;
    align-items: start;
    width: 80%;
    max-width: 215px;
    height: 100%;
    background-color: var(--background-color);
  }
  #sidebar-nav.active {
    display: flex;
  }
}

.nav-item {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 2.5px;
  transition: all 0.1s ease-in-out;
  border: solid 1px rgba(255, 255, 255, 0);
}

.nav-item.active {
  border: solid 1px var(--primary-color);
}

.nav-item.active p {
  color: var(--primary-color);
}

.nav-item.active .nav-icon path {
  fill: var(--primary-color) !important;
}

.nav-item p {
  display: inline;
}

.nav-item:hover {
  border: solid 1px var(--primary-color);
}

.nav-item:hover .nav-item-text {
  color: var(--primary-color);
}

.nav-item:hover .nav-icon path {
  fill: var(--primary-color);
}

@media only screen and (max-width: 768px) {
  .nav-item {
    max-width: 95%;
    width: 200px;
    padding: 4px 0px 4px 0px;
    margin-bottom: 10px;
    justify-content: center;
  }
  .nav-item .nav-item-text {
    font-size: 1.2rem;
  }
  .nav-item .nav-icon {
    margin-bottom: -5px;
  }
}

.nav-item-link-wrapper {
  width: 100%;
  padding: 6px 10px 4px 10px;
}

.nav-item-content {
  width: 100%;
}

.nav-icon {
  max-width: 18px;
  max-height: 18px;
  margin: 0;
  margin-bottom: -3px;
  padding-right: 3px;
}

.nav-icon path {
  fill: var(--gray-dark);
}

.nav-submenu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  position: absolute;
  box-sizing: border-box;
  bottom: 35px;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
}

@media only screen and (max-width: 768px) {
  .nav-submenu-container {
    bottom: 45px;
  }
}

.nav-submenu-container #profile-details {
  padding: 14px 10px;
}

.nav-submenu-container #email {
  color: var(--gray-dark);
  font-size: 0.8rem;
}

.nav-submenu-item {
  padding: 8px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-submenu-item:hover {
  background-color: var(--gray-opaque);
}

.nav-submenu-item-link-wrappaer {
  display: block;
  width: 100%;
}

.nav-submenu-item-text {
  margin: 0;
  font-size: 0.9rem;
}

#mobile-nav-open {
  display: none;
  padding-right: 15px;
}

@media only screen and (max-width: 768px) {
  #mobile-nav-open {
    display: inline-block;
    padding-right: 12px;
  }
}

#mobile-nav-close {
  display: none;
}

#mobile-nav-close svg {
  max-width: 18px;
  max-height: 18px;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  #mobile-nav-close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

#practice-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#practice-card-container {
  position: relative;
  width: 600px;
  max-width: 100%;
  height: 400px;
  max-height: 90%;
  perspective: 150rem;
}

.flashcard {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  background-color: white;
  backface-visibility: hidden;
  transition: all 0.8s ease;
}

#question-flashcard.flipped {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

#answer-flashcard {
  transform: rotateY(180deg);
}

#answer-flashcard.flipped {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

#practice-card-question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.practice-card-button-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.practice-card-button-container button {
  flex-grow: 1;
}

.practice-controls-container {
  width: 600px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

#practice-card-instruction {
  text-align: center;
}

#flip-card-button {
  flex-grow: 1.5;
}

#check-lottie {
  width: 150px;
  height: 150px;
}

#spelling-input {
  background-color: var(--gray-opaque);
  border: none;
  border-radius: var(--border-radius);
  font-size: 1.2rem;
  margin: -6px 2px 2px 2px;
  padding: 4px 14px;
}

#spelling-input:focus {
  outline: 2px solid var(--primary-color);
}

#word-translation {
  font-style: italic;
  font-weight: 900;
}

table {
  width: 100%;
  border-radius: 30px;
  border-collapse: collapse;
}

tr {
  transition: all 0.2s ease-in-out;
}

tr:hover {
  background-color: var(--gray-opaque);
}

td,
th {
  padding: 13px 15px 8px 10px;
  border-bottom: solid 1px var(--border-color);
  text-align: left;
  width: calc(100% / 5);
}

.table-action-button {
  background-color: var(--background-color);
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  padding: 5px 8px 2px 8px;
  cursor: pointer;
}

.table-action-icon {
  max-width: 20px;
  max-height: 20px;
  margin: 0;
}

.table-action-icon path {
  fill: var(--gray-dark);
}

.hidden {
  display: none;
}

.col-6 {
  min-width: calc( (100% / 2) - 10px);
}

.col-12 {
  min-width: calc(100% - 8px);
}

.noselect, .border-button, .transparent-button, .button-transparent, .icon-button, .interactive-word-container p, .nav-item, .nav-submenu-container {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
}

:root {
  --background-color: #f8f9fa;
  --border-color: rgb(204, 204, 204);
  --border-radius: 5px;
  --primary-color: #471cff;
  --primary-color-opaque: #461cffbf;
  --gray-dark: rgba(89, 89, 89, 1);
  --gray-medium: rgba(127, 127, 127, 1);
  --gray-medium-opaque: rgba(127, 127, 127, 0.5);
  --gray-light: rgba(165, 165, 165, 1);
  --gray-very-light: rgba(204, 204, 204, 1);
  --gray-opaque: rgba(204, 204, 204, 0.5);
  --blue: rgba(25, 130, 196, 1);
  --blue-opaque: rgba(25, 130, 196, 0.2);
  --green: rgba(138, 201, 38, 1);
  --green-opaque: rgba(138, 201, 38, 0.5);
  --font-size-small: 0.9rem;
  --font-size-regular: 1rem;
  /* Color references:
  https://coolors.co/palette/ff595e-ffca3a-8ac926-1982c4-6a4c93
  https://coolors.co/palette/595959-7f7f7f-a5a5a5-cccccc-f2f2f2
  */
}

body {
  font-family: "Manjari", Helvetica, sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  color: var(--gray-dark);
}

#root-container {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#content-container {
  height: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  #content-container {
    width: 100vw;
  }
}

#page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border-bottom: solid 1px var(--border-color);
  padding: 12px 15px 10px 25px;
}

@media only screen and (max-width: 768px) {
  #page-header {
    padding: 12px 15px 10px 12px;
  }
}

#page-header-left-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

#page-header-right-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
}

#page-title {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  padding-top: 7px;
}

#page-content {
  height: 100%;
  padding: 25px 25px;
  overflow-y: scroll;
  background-color: var(--gray-opaque);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--primary-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=../css/main.css.map */