{% extends 'base.html' %}
{% load static %} 

{% block stylesheets %}
{% endblock %}

{% block page_title %}{{ page_title }} Flashcards{% endblock %}

{% block page_buttons %} 
<button id="exit-button" class="border-button">Exit</button>
{% endblock %}

{% block content %}
<div id="flashcard-page">
    <div class="flashcard-controls-container">
        <p>Cards Remaining: <span id="cards-remaining">14</span></p>
    </div>
    <div id="flashcard-container" class="clickable">
        <div id="question-flashcard" class="flashcard">
            <p id="flashcard-instruction">Translate the following word to Ukrainian</p>
            <p id="flashcard-question" class="font-size-xxlarge">Hello</p>
            <div class="flashcard-buttons-container">
                <button id="question-show-romananisation-button" class="flashcard-button border-button">Show Romanisation</button>
                <button id="question-show-pronounciation-button" class="flashcard-button border-button">Show Pronounciation</button>
                <button id="question-play-audio-button" class="flashcard-button border-button">Play Audio</button>
            </div>
        </div>
        <div id="answer-flashcard" class="flashcard">
            <p id=""></p>
            <p id="flashcard-answer" class="font-size-xxlarge">Hello</p>
            <div class="flashcard-buttons-container">
                <button id="answer-show-romananisation-button" class="border-button">Show Romanisation</button>
                <button id="answer-show-pronounciation-button" class="border-button">Show Pronounciation</button>
                <button id="answer-play-audio-button" class="border-button">Play Audio</button>
            </div>
        </div>
    </div>
    <div class="flashcard-controls-container">
        <button id="incorrect-button" class="border-button">Incorrect</button>
        <button id="flip-card-button" class="border-button">Flip</button>
        <button id="correct-button" class="border-button">Correct</button>
        <button id="restart-button" class="border-button hidden">Restart</button>
        <button id="return-button" class="border-button hidden">Return</button>
        <button id="test-button" class="border-button hidden">Test Me</button>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    // Pass the JSON data to JavaScript
    let flashcardData = JSON.parse('{{ flashcard_data|escapejs }}');
</script>

<script type="text/javascript" src="{% static '/js/flashcards.js' %}"></script>
{% endblock %}
