{% extends 'base.html' %} 
{% block page_title %}Home{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="card-container-grid">
    <div class="grid-card sm-col-12 intro-card">
        <div class="row">
            <p>Welcome to VocabVenture! Here on the home screen you can see your overall progress across the app.
            </p>
        </div>
        <div class="row">
            <ul>
                <li>Below are your streaks and show how many days in a row you have taken flashcard and spelling tests.</li>
                <li>Next is your overall progress and shows how many words are in each learning stage of all the words in the app.</li>
                <li>Below that is breakdown of how many words are in each learning stage of the words you have started learning.</li>
                <li>Click on the "Words" menu item in the menu to start learning!</li>
            </ul>
        </div>
    </div>
    <div class="grid-card sm-col-12 md-col-6">
        <div class="row">
            <p>Flashcard Current Streak</p>
            <p>{{ streak_flashcards_current }} Days</p>
        </div>
    </div>
    <div class="grid-card sm-col-12 md-col-6">
        <div class="row">
            <p>Flashcard Longest Streak</p>
            <p>{{ streak_flashcards_longest }} Days</p>
        </div>
    </div>
    <div class="grid-card sm-col-12 md-col-6">
        <div class="row">
            <p>Spelling Current Streak</p>
            <p>{{ streak_spelling_current }} Days</p>
        </div>
    </div>
    <div class="grid-card sm-col-12 md-col-6">
        <div class="row">
            <p>Spelling Longest Streak</p>
            <p>{{ streak_spelling_longest }} Days</p>
        </div>
    </div>
    <div class="grid-card sm-col-12">
        <div class="row">
            <p>Word Progress</p>
            <p></p>
        </div>
        <div class="row">
            <div class="progress-bar-wrapper">
                <div class="progress-bar">
                    <div class="progress-bar-fill purple" style="width: {{ mastered_of_total_bar_length }}%;"></div>
                    <div class="progress-bar-fill green" style="width: {{ learnt_of_total_bar_length }}%;"></div>
                    <div class="progress-bar-fill orange" style="width: {{ learning_of_total_bar_length }}%;"></div>
                    <div class="progress-bar-fill red" style="width: {{ new_of_total_bar_length }}%;"></div>
                </div>
              </div>
        </div>
    </div>
    <div class="grid-card sm-col-12 md-col-6">
        <div class="row">
            <p>New</p>
            <p>{{ new_words }} ({{ new_of_scored_percent }}%)</p>
        </div>
        <div class="row">
            <div class="progress-bar-wrapper">
                <div class="progress-bar">
                    <div class="progress-bar-fill red" style="width: {{ new_of_scored_percent }}%;"></div>
                </div>
              </div>
        </div>
    </div>
    <div class="grid-card sm-col-12 md-col-6">
        <div class="row">
            <p>Learning</p>
            <p>{{ learning_words }} ({{ learning_of_scored_percent }}%)</p>
        </div>
        <div class="row">
            <div class="progress-bar-wrapper">
                <div class="progress-bar">
                    <div class="progress-bar-fill orange" style="width: {{ learning_of_scored_percent }}%;"></div>
                </div>
              </div>
        </div>
    </div>
    <div class="grid-card sm-col-12 md-col-6">
        <div class="row">
            <p>Learnt</p>
            <p>{{ learnt_words }} ({{ learnt_of_scored_percent }}%)</p>
        </div>
        <div class="row">
            <div class="progress-bar-wrapper">
                <div class="progress-bar">
                    <div class="progress-bar-fill green" style="width: {{ learnt_of_scored_percent }}%;"></div>
                </div>
              </div>
        </div>
    </div>
    <div class="grid-card sm-col-12 md-col-6">
        <div class="row">
            <p>Mastered</p>
            <p>{{ mastered_words }} ({{ mastered_of_scored_percent }}%)</p>
        </div>
        <div class="row">
            <div class="progress-bar-wrapper">
                <div class="progress-bar">
                    <div class="progress-bar-fill purple" style="width: {{ mastered_of_scored_percent }}%;"></div>
                </div>
              </div>
        </div>
    </div>
</div>
{% else %}
<p>Please login or create an account to see your stats and access aditional features</p>
{% endif %}
{% endblock %}
