{% extends 'base.html' %}
{% load static %} 

{% block stylesheets %}
{% endblock %}

{% block page_title %}{{ page_title }} Spelling{% endblock %}

{% block page_buttons %} 
<button id="exit-button" class="border-button">Exit</button>
{% endblock %}

{% block content %}
<div id="practice-page">
    <div class="practice-controls-container">
        <p>Words Remaining: <span id="words-remaining">null</span></p>
    </div>
    <div id="practice-card-container" class="clickable">
        <div id="spelling-card" class="flashcard">
            <p id="practice-card-instruction">Fill in the Ukrainian word for <span id="word-translation">Hello</span></p>
            <div id="practice-card-question-container">
                <div id="practice-card-question" class="interactive-sentence-container"></div>
            </div>
            <div class="practice-card-button-container">
            </div>
        </div>
    </div>
    <div class="practice-controls-container">
        <button id="check-button" class="border-button">Check</button>
        <button id="restart-button" class="border-button hidden">Restart</button>
        <button id="return-button" class="border-button hidden">Return</button>
        <button id="test-button" class="border-button hidden">Test Me</button>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    // Pass the JSON data to JavaScript
    let spellingData = JSON.parse('{{ spelling_data|escapejs }}');
</script>
<script type="text/javascript" src="{% static '/js/spelling.js' %}"></script>
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
{% endblock %}
