{% extends 'base.html' %}
{% load static %} 

{% block stylesheets %}
{% endblock %}

{% block page_title %}<title>{{ page_title }} Spelling</title>{% endblock %}

{% block page_buttons %} 
<button id="exit-button" class="border-button" aria-label="Exit spelling practice">Exit</button>
{% endblock %}

{% block content %}
<div id="practice-page" role="main">
    <div class="practice-controls-container" aria-live="polite">
        <p>Words Remaining: <span id="words-remaining">null</span></p>
    </div>
    <div id="practice-card-container" class="clickable" aria-label="Interactive spelling card">
        <div id="spelling-card" class="flashcard" role="region" aria-labelledby="practice-card-instruction">
            <p id="practice-card-instruction">Fill in the Ukrainian word for <span id="word-translation">Hello</span></p>
            <div id="practice-card-question-container">
                <div id="practice-card-question" class="interactive-sentence-container" aria-live="assertive"></div>
            </div>
            <div class="practice-card-button-container">
            </div>
        </div>
    </div>
    <div class="practice-controls-container">
        <button id="check-button" class="border-button" aria-label="Check your spelling">Check</button>
        <button id="restart-button" class="border-button hidden" aria-label="Restart the spelling practice">Restart</button>
        <button id="return-button" class="border-button hidden" aria-label="Return to previous page">Return</button>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    // Pass the JSON data to JavaScript
    let spellingData = JSON.parse('{{ spelling_data|escapejs }}');
</script>
<script type="module" src="{% static '/js/spelling.js' %}"></script>
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
{% endblock %}
