{% extends 'base.html' %}
{% load static %} 
{% block stylesheets %}
<link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
{% endblock %}
{% block page_title %}{{ set_title }}{% endblock %}
{% block page_buttons %} 
{% if user.is_superuser %}
<button id="add-word-button">Add Word</button>
{% endif %}
{% endblock %}
{% block content %}
<div class="card-container">
    {% for word in words %}
    <div class="card word-card col-lg-4 col-md-6 clickable" word-id="{{word.word_id}}">
        <div class="card-content">
            <h3 class="set-title">{{ word.word_ukrainian }}</h3>
            <div>
                <p><strong>English: </strong>{{ word.word_english }}</p>
                <p><strong>Romanization: </strong>{{ word.word_roman }}</p>
                <p><strong>Pronounciation: </strong>{{ word.word_pronounciation }}</p>
            </div>
            <!-- Progress Bar -->
          <div class="progress-bar-container">
            <div class="progress-bar">
              <div class="progress-bar-fill orange" style="width: 50%;"></div>
            </div>
            <p class="progress-bar-percentage">50%</p>
          </div>
        </div>
    </div> 
    {% endfor%}
<div class="background-overlay hidden"></div>
<div id="word-details-modal" class="modal hidden">
    <div class="modal-header-wrapper">
        <div class="modal-left-conatainer">
            {% if user.is_superuser %}
            <button class="admin-edit-details-button">Edit Word</button>
            {% endif %}
        </div>
        <div class="modal-right-conatainer">
            <button id="close-word-details-modal-button" class="button-transparent">Close</button>
        </div>
    </div>
    <div class="modal-content-wrapper">
        <div id="details-card-container" class="card-container">
            <div class="card word-detail-card col-lg-6 align-center justify-center">  
                <div class="card-content"">
                    <div class="card-title">Ukrainian</div>
                    <div class="word-detail-content">
                        <p class="font-size-xxlarge" id="word-ukr">Content</p>
                    </div>
                </div>
            </div>
            <div class="card word-detail-card col-lg-6 align-center justify-center">  
                <div class="card-content"">
                    <div class="card-title">English</div>
                    <div class="word-detail-content">
                        <p class="font-size-xxlarge" id="word-eng">Content</p>
                    </div>
                </div>
            </div>
            <div class="card word-detail-card col-lg-6 align-center justify-center">  
                <div class="card-content"">
                    <div class="card-title">Pronounciation</div>
                    <div class="word-detail-content">
                        <p class="font-size-xxlarge" id="word-pronounce">Content</p>
                    </div>
                </div>
            </div>
            <div class="card word-detail-card col-lg-6 align-center justify-center">  
                <div class="card-content"">
                    <div class="card-title">Romanization</div>
                    <div class="word-detail-content">
                        <p class="font-size-xxlarge" id="word-roman">Content</p>
                    </div>
                </div>
            </div>
            <div class="card word-detail-card align-center justify-center">  
                <div class="card-content"">
                    <div class="card-title">Explanation</div>
                    <div class="word-detail-content">
                        <p class="font-size-large" id="word-explain">Content</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="admin-edit-modal" class="modal hidden">
    <div class="modal-header-wrapper">
        <div class="modal-left-conatainer">
            <button id="admin-word-edit-save-button">Save</button>
            <button id="admin-word-edit-delete-button">Delete</button>
        </div>
        <div class="modal-right-conatainer">
            <button id="close-admin-edit-modal-button" class="button-transparent">Close</button>
        </div>
            
    </div>
    <div class="modal-content-wrapper">
       <form id="admin-word-edit-form">
            <label for="word_id">Word ID</label>
            <input id="word-id-input" type="number" name="word_id">
            <label for="word_id">Ukrainian</label>
            <input id="word-ukr-input" type="text" name="word_ukrainian">
            <label for="word_id">English</label>
            <input id="word-eng-input" type="text" name="word_english">
            <label for="word_id">Romanization</label>
            <input id="word-roman-input" type="text" name="word_roman">
            <label for="word_id">Gender</label>
            <input id="word-gender-input" type="text" name="word_gender">
            <label for="word_id">Pronounciation</label>
            <input id="word-pronounce-input" type="text" name="word_pronounciation">
            <label for="word_id">Pronounciation Audi Link</label>
            <input id="word-pronounce-audio-input" type="url" name="word_pronounciation_audio">
            <label for="word_id">Explanation</label>
            <input id="word-explain-input" type="text" name="word_explanation">
            <label for="word_id">Usage Examples</label>
            <textarea id="word-examples-input" name="word_examples"></textarea>
       </form>
    </div>
</div><div class="background-overlay hidden"></div>
<div id="word-details-modal" class="modal hidden">
    <div class="modal-header-wrapper">
        <div class="modal-left-conatainer">
        </div>
        <div class="modal-right-conatainer">
            <button id="close-word-details-modal-button" class="button-transparent">Close</button>
        </div>
    </div>
    <div class="modal-content-wrapper">
        <div id="details-card-container" class="card-container">
            <div class="card col-6 align-center justify-center">
                <div class="card-title">Ukrainian</div>
                <div class="card-content font-size-xxlarge" id="word-ukr">Content</div>
            </div>
            <div class="card col-6 align-center justify-center">
                <div class="card-title">English</div>
                <div class="card-content font-size-xxlarge" id="word-eng">Content</div>
            </div>
            <div class="card col-6 align-center justify-center">
                <div class="card-title">Pronounciation</div>
                <div class="card-content font-size-xxlarge" id="word-pronounce">Content</div>
            </div>
            <div class="card col-6 align-center justify-center">
                <div class="card-title">Romanization</div>
                <div class="card-content font-size-xxlarge" id="word-roman">Content</div>
            </div>
            <div class="card col-12 align-center justify-center">
                <div class="card-title">Explanation</div>
                <div id="word-explain" class="card-content font-size-large">Content</div>
            </div>
        </div>
    </div>
</div>
<div id="admin-edit-modal" class="modal hidden">
    <div class="modal-header-wrapper">
        <div class="modal-left-conatainer">
            <button id="admin-word-edit-save-button">Save</button>
            <button id="admin-word-edit-delete-button">Delete</button>
        </div>
        <div class="modal-right-conatainer">
            <button id="close-admin-edit-modal-button" class="button-transparent">Close</button>
        </div>
            
    </div>
    <div class="modal-content-wrapper">
       <form id="admin-word-edit-form">
            <label for="word_id">Word ID</label>
            <input id="word-id-input" type="number" name="word_id">
            <label for="word_id">Ukrainian</label>
            <input id="word-ukr-input" type="text" name="word_ukrainian">
            <label for="word_id">English</label>
            <input id="word-eng-input" type="text" name="word_english">
            <label for="word_id">Romanization</label>
            <input id="word-roman-input" type="text" name="word_roman">
            <label for="word_id">Gender</label>
            <input id="word-gender-input" type="text" name="word_gender">
            <label for="word_id">Pronounciation</label>
            <input id="word-pronounce-input" type="text" name="word_pronounciation">
            <label for="word_id">Pronounciation Audi Link</label>
            <input id="word-pronounce-audio-input" type="url" name="word_pronounciation_audio">
            <label for="word_id">Explanation</label>
            <input id="word-explain-input" type="text" name="word_explanation">
            <label for="word_id">Usage Examples</label>
            <textarea id="word-examples-input" name="word_examples"></textarea>
       </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{% static '/js/words-list.js' %}"></script>
{% endblock %}
