{% extends 'base.html' %} 
{% load static %} 
{% block page_title %}Word Sets{% endblock %}
{% block content %}

<div class="card-container">
    {% for word_set in word_sets %}
      <a href="/words/sets/{{ word_set.set_slug }}" class="card col-lg-4 col-md-6 col-sm-12 clickable">
        <div class="card-content">
          <h3 class="set-title">{{ word_set.set_title }}</h3>
          <!-- Overall Progress -->
          <div class="progress-bar-container">
            <div class="progress-bar-wrapper">
              <div class="progress-bar">
                <div class="progress-bar-fill {{ word_set.set_total_score_color }}" style="width: {{ word_set.set_total_score }}%;"></div>
              </div>
              <p class="progress-bar-percentage">
                {{ word_set.set_total_score }}%
              </p>
            </div>
          </div>
          <!-- UKR to ENG Progress -->
          <div class="progress-bar-container">
            <p class="progress-bar-title">Flash Cards</p>
            <div class="progress-bar-wrapper">
              <div class="progress-bar">
                <div class="progress-bar-fill {{ word_set.set_flashcard_eng_ukr_score_color }}" style="width: {{ word_set.set_flashcard_eng_ukr_score }}%;"></div>
              </div>
              <p class="progress-bar-percentage">
                {{ word_set.set_flashcard_eng_ukr_score }}%
              </p>
            </div>
          </div>
          <!-- ENG to UKR Progress -->
          <div class="progress-bar-container">
            <p class="progress-bar-title">Flash Cards (Reverse)</p>
            <div class="progress-bar-wrapper">
              <div class="progress-bar">
                <div class="progress-bar-fill {{ word_set.set_flashcard_ukr_eng_score_color }}" style="width: {{ word_set.set_flashcard_ukr_eng_score }}%;"></div>
              </div>
              <p class="progress-bar-percentage">{{ word_set.set_flashcard_ukr_eng_score }}%</p>
            </div>
          </div>
          <!-- UKR to ENG Progress -->
          <div class="progress-bar-container">
            <p class="progress-bar-title">Spelling</p>
            <div class="progress-bar-wrapper">
              <div class="progress-bar">
                <div class="progress-bar-fill {{ word_set.set_spelling_eng_ukr_score_color }}" style="width: {{ word_set.set_spelling_eng_ukr_score }}%;"></div>
              </div>
              <p class="progress-bar-percentage">
                {{ word_set.set_spelling_eng_ukr_score }}%  
              </p>
            </div>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</div>
{% endblock %}
