.border-button {
  @extend .noselect;
  background-color: rgba(0, 0, 0, 0);
  color: var(--primary-color);
  border: solid 1px var(--primary-color);
  border-radius: var(--border-radius);
  font-family: "Manjari", Helvetica, sans-serif;
  font-weight: 900;
  padding: 9px 16px 4px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

.transparent-button {
  @extend .noselect;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
}

.button-transparent {
  @extend .noselect;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Manjari", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.icon-button {
  @extend .noselect;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;

  svg {
    max-width: 28px;
    max-height: 28px;
    margin: 0;

    path {
      fill: var(--gray-dark);
    }
  }
}
