.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  padding: 0 5px;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding: 24px 24px;
  gap: 12px;
  background-color: white;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 0px 5px 0.8px var(--gray-opaque);
  box-shadow: 0px 0px 5px 0.8px var(--gray-opaque);
  transition: all 0.3s ease-in-out;

  .set-title {
    margin: 0;
  }

  &.clickable {
    cursor: pointer;
  }

  &.clickable:hover {
    //-webkit-box-shadow: 0px 0px 5px 0.8px var(--blue);
    //box-shadow: 0px 0px 5px 0.8px var(--blue);
    border: solid 1px var(--primary-color);
  }
}

.card-container-grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
}

.grid-card {
  @extend .card;

  p {
    margin: 0;
  }

  .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &.sm-col-12 {
    grid-column: span 12;
  }

  &.sm-col-6 {
    grid-column: span 6;
  }

  @media only screen and (min-width: 768px) {
    &.md-col-12 {
      grid-column: span 12;
    }

    &.md-col-6 {
      grid-column: span 6;
    }

    &.md-col-4 {
      grid-column: span 4;
    }
  }

  @media only screen and (min-width: 992px) {
    &.lg-col-12 {
      grid-column: span 12;
    }

    &.lg-col-6 {
      grid-column: span 6;
    }

    &.lg-col-4 {
      grid-column: span 4;
    }
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.intro-card {
  @extend .card;
  background-color: var(--primary-color);
  color: white;
  align-items: center;
}

.set-card {
  .card-content {
    gap: 12px;
  }
}

.word-card {
  .card-content {
    justify-content: space-between;
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.word-detail-card {
  min-height: 150px;
}

.card-title-fixed {
  position: absolute;
  top: 20px;
  left: 20px;
}

.word-detail-content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
