form {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

input,
textarea {
  display: block;
  margin: 5px 0px 24px 0px;
  border-radius: var(--border-radius);
  border: solid 1px var(--border-color);
  padding: 6px 12px;
  font-size: 1rem;

  &.full-width {
    width: 90%;
  }
}

textarea {
  height: 300px;
}

label {
  display: block;
}

.checkbox-wrapper {
  input {
    display: inline;
  }

  label {
    display: inline;
  }
}

#admin-word-edit-form {
  width: 100%;
  max-height: calc(80vh - 100px);
  padding: 5px;
}

.toggle {
  display: none;
}

.toggle-label {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  margin-left: 32px;
}

.toggle-label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle:checked + .toggle-label {
  background-color: var(--primary-color);
}

.toggle:checked + .toggle-label::before {
  transform: translateX(20px);
}

.form-row-inline {
  display: flex;
  padding: 12px 0px;
  justify-content: space-between;
  align-items: center;
}
