.background-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 98;
  width: 100vw;
  height: 100vh;
  background-color: var(--gray-medium-opaque);
  backdrop-filter: blur(3px);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  max-height: 80vh;
  max-width: 95vw;
  background-color: var(--background-color);
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);
  padding: 10px 25px 25px 25px;
}

.modal-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 16px 0;
}

.modal-content-wrapper {
  max-height: calc(100% - 50px);
  overflow-x: hidden;
  overflow-y: scroll;
}

#word-details-modal {
  width: 80%;
  height: 80%;
}

#alert-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#alert-modal {
  position: relative;
  padding: 8px 24px;
  color: white;

  &.success {
    background-color: green;
  }

  &.error {
    background-color: red;
  }

  &.info {
    background-color: blue;
  }

  &.alert {
    background-color: orange;
  }

  #alert-modal-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    cursor: pointer;

    svg {
      max-width: 14px;
      max-height: 14px;
      margin: 0;

      path {
        fill: white;
      }
    }
  }
}
