#navbar-logo {
  font-size: 20px;
  padding: 4px;
  color: var(--primary-color);
}

#sidebar-nav {
  width: 200px;
  border-right: solid 1px var(--border-color);
  padding: 0 10px 10px 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  @media only screen and (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: none;
    flex-direction: column;
    align-items: start;
    width: 80%;
    max-width: 215px;
    height: 100%;
    background-color: var(--background-color);

    &.active {
      display: flex;
    }
  }
}

.nav-item {
  @extend .noselect;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 2.5px;
  transition: all 0.1s ease-in-out;

  &.active {
    background-color: var(--primary-color);

    p {
      color: white;
    }

    .nav-icon path {
      fill: white !important;
    }
  }

  p {
    display: inline;
  }

  &:hover {
    background-color: var(--primary-color-opaque);

    .nav-item-text {
      color: white;
    }

    .nav-icon path {
      fill: white;
    }
  }

  @media only screen and (max-width: 768px) {
    max-width: 95%;
    width: 200px;
    padding: 4px 0px 4px 0px;
    margin-bottom: 10px;
    justify-content: center;

    .nav-item-text {
      font-size: 1.2rem;
    }

    .nav-icon {
      margin-bottom: -5px;
    }
  }
}

.nav-item-link-wrapper {
  width: 100%;
  padding: 6px 10px 4px 10px;
}

.nav-item-content {
  width: 100%;
}

.nav-icon {
  max-width: 18px;
  max-height: 18px;
  margin: 0;
  margin-bottom: -3px;
  padding-right: 3px;

  path {
    fill: var(--gray-dark);
  }
}

.nav-submenu-container {
  @extend .noselect;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  position: absolute;
  box-sizing: border-box;
  bottom: 35px;
  border: solid 1px var(--border-color);
  border-radius: var(--border-radius);

  @media only screen and (max-width: 768px) {
    bottom: 45px;
  }

  #profile-details {
    padding: 14px 10px;
  }

  #email {
    color: var(--gray-dark);
    font-size: 0.8rem;
  }
}

.nav-submenu-item {
  padding: 8px 10px;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: var(--gray-opaque);
  }
}

.nav-submenu-item-link-wrappaer {
  display: block;
  width: 100%;
}

.nav-submenu-item-text {
  margin: 0;
  font-size: 0.9rem;
}

#mobile-nav-open {
  display: none;
  padding-right: 15px;

  @media only screen and (max-width: 768px) {
    display: inline-block;
  }
}

#mobile-nav-close {
  display: none;

  svg {
    max-width: 18px;
    max-height: 18px;
    margin: 0;
  }

  @media only screen and (max-width: 768px) {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
