.hidden {
  display: none;
}

.col-6 {
  min-width: calc(
    (100% / 2) - 10px /* 100% of the container width minus the gap */
  );
}

.col-12 {
  min-width: calc(100% - 8px);
}

.noselect {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--border-color);
}
